* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.upper-c {
  text-transform: uppercase;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 70px;
}
header nav .menu {
  display: flex;
}
header nav .menu li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}
header nav .menu li a {
  color: inherit;
  text-decoration: inherit;
}
header nav .search {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #0282f9;
  width: 120px;
}
header nav .search input {
  border: none;
  padding: 5px;
  width: 100%;
  text-align: end;
}

main .thumb {
  height: 350px;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  background-position: top;
}
main .bg-current-series {
  background-color: #1c1c1c;
  position: relative;
}
main .bg-current-series .tag-current-series {
  background-color: #0282f9;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 900;
  position: absolute;
  top: -15px;
}
main .bg-current-series .current-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
  color: white;
}
main .bg-current-series .current-series .card {
  width: 15.6666666667%;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}
main .bg-current-series .current-series .card .card-img {
  height: 11vw;
  overflow: hidden;
}
main .bg-current-series .current-series .card p {
  padding: 1rem 0;
}
main .bg-current-series .current-series .card p a {
  color: white;
  text-decoration: none;
}
main .bg-current-series .btn-blue {
  text-align: center;
  padding: 0.5rem 2.5rem;
  background-color: #0282f9;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.5rem;
  cursor: pointer;
}
main .row-blue {
  height: 50px;
  background-color: #0282f9;
  position: relative;
}
main .row-blue .serie-card {
  position: absolute;
  bottom: 10px;
}
main .row-blue .serie-card .serie-card-box {
  position: relative;
  width: 100%;
  height: 100%;
}
main .row-blue .serie-card .serie-card-box .tag {
  background-color: #00a9d9;
  color: white;
  padding: 3px;
  font-size: 0.8rem;
  position: absolute;
  left: 0;
}
main .row-blue .serie-card .serie-card-box .tag-top {
  top: 0;
}
main .row-blue .serie-card .serie-card-box .tag-bottom {
  bottom: 0;
  width: 100%;
  text-align: center;
}
main .serie {
  padding: 4rem 0;
  display: flex;
}
main .serie .price {
  display: flex;
  background-color: #55ba59;
  border-bottom: 2px solid #357739;
  margin-bottom: 1rem;
  font-weight: bold;
}
main .serie .price .price-col {
  padding: 0.9rem 1.5rem;
}
main .serie .price .price-left {
  width: 70%;
  border-right: 2px solid #357739;
  color: #acf98e;
  display: flex;
  justify-content: space-between;
}
main .serie .price .price-left span {
  color: white;
}
main .serie .price .price-right {
  width: 30%;
  color: white;
  cursor: pointer;
}
main .serie .price .price-right span {
  vertical-align: middle;
}
main .serie h3 {
  color: #003f5e;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
main .serie p {
  color: rgb(121, 121, 121);
  line-height: 1.5rem;
  font-weight: bold;
}
main .serie .col-left {
  width: 68%;
}
main .serie .col-right {
  width: 30%;
  margin-left: 2%;
  text-align: end;
}
main .serie .col-right p {
  text-align: end;
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: rgb(85, 85, 85);
}
main .bg-specifications {
  background-color: #f3f3f3;
}
main .bg-specifications .specifications {
  display: flex;
}
main .bg-specifications .specifications h4 {
  color: #003f5e;
}
main .bg-specifications .specifications .col-left {
  width: 48%;
}
main .bg-specifications .specifications .col-right {
  width: 48%;
  margin-left: 4%;
}
main .bg-specifications .specifications .specifications-item {
  display: flex;
  padding: 0.6rem 0;
  border-bottom: 1px solid lightgrey;
}
main .bg-specifications .specifications .specifications-item h5 {
  display: inline-block;
  width: 30%;
  color: #003f5e;
}
main .bg-specifications .specifications .specifications-item p {
  width: 70%;
}
main .bg-specifications .specifications .specifications-item p span {
  color: #00a9d9;
}
main .bg-specifications .specifications .specifications-item p span span {
  color: black;
}
main .bg-specifications .specifications h4 {
  padding: 1.4rem 0;
  border-bottom: 1px solid lightgrey;
}
main .bg-specifications .bg-shop-tag {
  border-top: 1px solid lightgrey;
  margin-top: 6rem;
}
main .bg-specifications .bg-shop-tag .shop-tag {
  display: flex;
}
main .bg-specifications .bg-shop-tag .shop-tag .shop-tag-item {
  width: 25%;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 0.7rem;
}
main .bg-specifications .bg-shop-tag .shop-tag .shop-tag-item h5 {
  text-transform: uppercase;
  font-weight: 900;
  color: #9e9e9e;
}
main .bg-specifications .bg-shop-tag .shop-tag .shop-tag-item .img {
  width: 10%;
}
main .bg-specifications .bg-shop-tag .shop-tag .shop-tag-item .img img {
  filter: contrast(0.3);
  -o-object-fit: fill;
     object-fit: fill;
}

footer .footer-top .bg-footer-top {
  background-image: url(../images/footer-bg.jpg);
}
footer .footer-top .links-section {
  display: flex;
}
footer .footer-top .links-section .col-left {
  width: 50%;
}
footer .footer-top .links-section .col-left .col-left-top {
  display: flex;
  width: 100%;
  padding: 1rem 0;
}
footer .footer-top .links-section .col-left .col-left-top .col-links {
  width: 20%;
}
footer .footer-top .links-section .col-left .col-left-top .col-links h3 {
  text-transform: uppercase;
  color: white;
  font-size: 0.6rem;
  margin: 0.5rem 0;
}
footer .footer-top .links-section .col-left .col-left-top .col-links li {
  line-height: 10px;
}
footer .footer-top .links-section .col-left .col-left-top .col-links li a {
  text-decoration: none;
  color: grey;
  font-size: 0.5rem;
}
footer .footer-top .links-section .col-right {
  width: 50%;
  background-image: url(../images/dc-logo-bg.png);
  background-size: cover;
  background-position: center;
}
footer .footer-top .cookies-set {
  line-height: 5px;
  padding-bottom: 1rem;
}
footer .footer-top .cookies-set p {
  font-size: 0.5rem;
  color: grey;
}
footer .footer-top .cookies-set p span {
  color: rgb(29, 119, 255);
}
footer .footer-top .cookies-set a {
  color: rgb(29, 119, 255);
  font-size: 0.5rem;
  text-decoration: none;
}
footer .footer-bottom {
  background-color: #303030;
}
footer .footer-bottom .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0;
}
footer .footer-bottom .row .col-left .btn-sign {
  text-transform: uppercase;
  font-size: 0.5rem;
  color: white;
  padding: 0.5rem;
  border: 2px solid #0282f9;
  cursor: pointer;
}
footer .footer-bottom .row .col-right {
  display: flex;
}
footer .footer-bottom .row .col-right span {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  color: #0282f9;
  margin-right: 5px;
}
footer .footer-bottom .row .col-right ul {
  display: flex;
}
footer .footer-bottom .row .col-right ul li {
  width: 20px;
  margin: 0 3px;
}