* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  height: 90px;
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  width: 70px;
}
header nav .menu {
  display: flex;
}
header nav .menu li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}
header nav .menu li a {
  color: inherit;
  text-decoration: inherit;
}
header nav .search {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #0282f9;
  width: 120px;
}
header nav .search input {
  border: none;
  padding: 5px;
  width: 100%;
  text-align: end;
}

main .thumb {
  height: 200px;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  background-position: top;
}
main .bg-current-series {
  background-color: #1c1c1c;
  position: relative;
}
main .bg-current-series .tag-current-series {
  background-color: #0282f9;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 900;
  position: absolute;
  top: -15px;
}
main .bg-current-series .current-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
  color: white;
}
main .bg-current-series .current-series .card {
  width: 15.6666666667%;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}
main .bg-current-series .current-series .card .card-img {
  height: 11vw;
  overflow: hidden;
}
main .bg-current-series .current-series .card p {
  padding: 1rem 0;
}
main .bg-current-series .btn-blue {
  text-align: center;
  padding: 0.5rem 2.5rem;
  background-color: #0282f9;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.5rem;
  cursor: pointer;
}

footer .footer-top .bg-footer-top {
  background-image: url(../images/footer-bg.jpg);
}
footer .footer-top .links-section {
  display: flex;
}
footer .footer-top .links-section .col-left {
  display: flex;
  width: 60%;
  padding: 1rem 0;
}
footer .footer-top .links-section .col-left .col-links {
  width: 20%;
}
footer .footer-top .links-section .col-left .col-links h3 {
  text-transform: uppercase;
  color: white;
  font-size: 0.6rem;
  margin: 0.5rem 0;
}
footer .footer-top .links-section .col-left .col-links li {
  line-height: 10px;
}
footer .footer-top .links-section .col-left .col-links li a {
  text-decoration: none;
  color: grey;
  font-size: 0.5rem;
}
footer .footer-top .links-section .col-right {
  width: 40%;
  background-image: url(../images/dc-logo-bg.png);
  background-size: cover;
  background-position: center;
}
footer .footer-top .cookies-set p {
  font-size: 0.5rem;
  color: grey;
}
footer .footer-top .cookies-set p span {
  color: rgb(29, 119, 255);
}
footer .footer-bottom {
  background-color: #303030;
}
footer .footer-bottom .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0;
}
footer .footer-bottom .row .col-left .btn-sign {
  text-transform: uppercase;
  font-size: 0.5rem;
  color: white;
  padding: 0.5rem;
  border: 2px solid #0282f9;
  cursor: pointer;
}
footer .footer-bottom .row .col-right {
  display: flex;
}
footer .footer-bottom .row .col-right span {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 900;
  color: #0282f9;
  margin-right: 5px;
}
footer .footer-bottom .row .col-right ul {
  display: flex;
}
footer .footer-bottom .row .col-right ul li {
  width: 20px;
  margin: 0 3px;
}