footer {
  .footer-top {
    .bg-footer-top {
      background-image: url(../images/footer-bg.jpg);
    }

    .links-section {
      display: flex;

      .col-left {
        display: flex;
        width: 60%;
        padding: 1rem 0;

        .col-links {
          width: 20%;

          h3 {
            text-transform: uppercase;
            color: white;
            font-size: .6rem;
            margin: .5rem 0;
          }

          li {
            line-height: 10px;

            a {
              text-decoration: none;
              color: grey;
              font-size: .5rem;
            }
          }
        }
      }

      .col-right {
        width: 40%;
        background-image: url(../images/dc-logo-bg.png);
        background-size: cover;
        background-position: center;
      }
    }

    .cookies-set {
      p {
        font-size: .5rem;
        color: grey;

        span {
          color: rgb(29, 119, 255);
        }
      }
    }
  }

  .footer-bottom {
    background-color: #303030;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 1rem 0;

      .col-left {
        .btn-sign {
          text-transform: uppercase;
          font-size: .5rem;
          color: white;
          padding: .5rem;
          border: 2px solid #0282f9;
          cursor: pointer;
        }
      }

      .col-right {
        display: flex;

        span {
          text-transform: uppercase;
          font-size: .7rem;
          font-weight: 900;
          color: #0282f9;
          margin-right: 5px;
        }

        ul {
          display: flex;

          li {
            width: 20px;
            margin: 0 3px;
            
          }
        }
      }
    }
  }
}