footer {
  .footer-top {
    .bg-footer-top {
      background-image: url(../images/footer-bg.jpg);
    }
    .row {
      display: flex;

      .col {
        padding: 1rem 0;
      }

      .col-links {
        width: 15%;
        h3 {
          text-transform: uppercase;
          font-size: .7rem;
          font-weight: 900;
          margin: .5rem 0;
          color: white;
        }
        li {
          line-height: 10px;
          a {
            color: grey;
            font-size: .5rem;
            text-decoration: none;
          }
        }
      }

      .col-logo {
        width: 40%;
        background-image: url(../images/dc-logo-bg.png);
        background-size: cover;
        background-position: right;
      }
    }

    
  }
}