main {
  .thumb {
    height: 200px;
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-position: top;
  }

  .bg-current-series {
    background-color: #1c1c1c;
    position: relative;

    .tag-current-series {
      background-color: #0282f9;
      text-transform: uppercase;
      font-size: .7rem;
      padding: .5rem 1rem;
      color: white;
      font-weight: 900;
      position: absolute;
      top: -15px;
    }

    .current-series {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2rem 0;
      color: white;
  
      .card {
        width: calc(100% / 6 - 1%);
        margin-bottom: 1rem;
        font-size: .7rem;
     
        .card-img {
          height: 11vw;
          overflow: hidden;
        }
  
        p {
          padding: 1rem 0;
        }
      }
    }

    .btn-blue {
      text-align: center;
      padding: .5rem 2.5rem;
      background-color: #0282f9;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 1rem;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      font-size: .5rem;
      cursor: pointer;
    }
  }
}