main {
  .thumb {
    height: 350px;
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-position: top;
  }

  .bg-current-series {
    background-color: #1c1c1c;
    position: relative;

    .tag-current-series {
      background-color: #0282f9;
      text-transform: uppercase;
      font-size: .7rem;
      padding: .5rem 1rem;
      color: white;
      font-weight: 900;
      position: absolute;
      top: -15px;
    }

    .current-series {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2rem 0;
      color: white;

      .card {
        width: calc(100% / 6 - 1%);
        margin-bottom: 1rem;
        font-size: .7rem;

        .card-img {
          height: 11vw;
          overflow: hidden;
        }

        p {
          padding: 1rem 0;
        }
      }
    }

    .btn-blue {
      text-align: center;
      padding: .5rem 2.5rem;
      background-color: #0282f9;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 1rem;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      font-size: .5rem;
      cursor: pointer;
    }
  }

  // Single-card
  .row-blue {
    height: 50px;
    background-color: #0282f9;
    position: relative;

    .serie-card {
      height: 15vw;
      width: 10vw;
      background-color: red;
      position: absolute;
      bottom: 10px;
    }
  }

  .serie {
    padding: 2rem 0;
    display: flex;

    .col-left {
      width: 70%;
    }

    .col_right {
      width: 30%;
    }
  }

  .bg-specifications {
    background-color: #f3f3f3;

    .specifications {
      display: flex;

      .col-left {
        width: 48%;
      }

      .col-right {
        width: 48%;
        margin-left: 4%;
      }

      .specifications-item {
        display: flex;
        padding: .6rem 0;
        border-bottom: 1px solid lightgrey;

        span {
          display: inline-block;
          width: 30%;
        }

        p {
          width: 70%;
        }
      }

      h4 {
        padding: 1.4rem 0;
        border-bottom: 1px solid lightgrey;
      }
    }



    .bg-shop-tag {
      border-top: 1px solid lightgrey;
      margin-top: 6rem;

      .shop-tag {
        display: flex;

        .shop-tag-item {
          width: calc(100% / 5);
          display: flex;
          justify-content: space-between;
          border-left: 1px solid lightgrey; 
          border-right: 1px solid lightgrey; 
          padding: .7rem;
        }
      }
    }



  }
}